<div class="container position-relative">
    <div class="formulario">
        <h4>Login</h4>
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label id="label" name="label" class="form-label">Email</label>
                <input type="text" class="form-control" for="#label" formControlName="Email">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" formControlName="Password">
            </div>
            <div class="button">
                <input type="submit" value="Enviar" class="btn">
            </div>
        </form>
    </div>
</div>