
.demo-inline-calendar-card{
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


::ng-deep .mat-calendar-body-selected {
    background-color: goldenrod !important;
    color: #ffffff !important;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical){
    border-color: goldenrod !important;
}